In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/adult.data.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# 1. How many men and women (sex feature) are represented in this dataset?

df['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [5]:
# 2. What is the average age (age feature) of women?

df[df['sex'] == 'Female']['age'].mean()

36.85823043357163

In [6]:
# 3. What is the percentage of German citizens (native-country feature)?

df[df['native-country'] == 'Germany'].shape[0] / df.shape[0]

0.004207487485028101

In [7]:
# 4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) 
#      and those who earn less than 50K per year?

print(f"More than 50K:\n{df[df['salary'] == '>50K']['age'].agg([np.mean, np.std])}\n")
print(f"Less than 50K:\n{df[df['salary'] == '<=50K']['age'].agg([np.mean, np.std])}")

More than 50K:
mean    44.249841
std     10.519028
Name: age, dtype: float64

Less than 50K:
mean    36.783738
std     14.020088
Name: age, dtype: float64

In [8]:
# 6. Is it true that people who earn more than 50K have at least high school education?
#    (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

df[df['salary'] == '>50K']['education'].unique()

# First solution df[df['salary'] == '>50K'].groupby(by='education')['age'].count()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [9]:
# 7. Display age statistics for each race (race feature) and each gender (sex feature). 
#    Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

df.groupby(by=['race', 'sex'])['age'].describe()
# Maximum age of men of Amer-Indian-Eskimo race is 80

                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0  \
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [10]:
# 8. Among whom is the proportion of those who earn a lot (>50K) greater:
#    married or single men (marital-status feature)?
#    Consider as married those who have a marital-status starting with Married 
#    (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

print(f"Married:\n{df[(df['marital-status'].apply(lambda x: x[:7] == 'Married')) & (df['sex'] == 'Male')]['salary'].value_counts(normalize=True)}\n")
print(f"Single:\n{df[(df['marital-status'].apply(lambda x: x[:7] != 'Married')) & (df['sex'] == 'Male')]['salary'].value_counts(normalize=True)}")

# Answer: Among the married

Married:
salary
<=50K    0.559486
>50K     0.440514
Name: proportion, dtype: float64

Single:
salary
<=50K    0.915505
>50K     0.084495
Name: proportion, dtype: float64

In [11]:
# 9. What is the maximum number of hours a person works per week (hours-per-week feature)? 
#    How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

max_hours_per_week = df['hours-per-week'].max()
print(f"Max number of hours: {max_hours_per_week}")
print(f"How many people work such a number of hours: {df[df['hours-per-week'] == max_hours_per_week].shape[0]}")
print(f"Percentage of those who earn a lot among them: {df[df['hours-per-week'] == max_hours_per_week]['salary'].value_counts(normalize=True)['>50K']}")

Max number of hours: 99
How many people work such a number of hours: 85
Percentage of those who earn a lot among them: 0.29411764705882354

In [12]:
# 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) 
#     for each country (native-country). What will these be for Japan?

mean_work_time = df.groupby(by=['native-country', 'salary'])['hours-per-week'].mean()
mean_work_time['Japan']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64